@CHARSET "UTF-8";

div.art_calc {
	background-color: #f5f5f5;
	margin: 0px 5px;
	padding: 5px;
	font-family: 'Play', Verdana, sans-serif;
	
	border: 1px dotted #acb7bf;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

div.art_calc:hover {
	-moz-box-shadow: 0 0 5px 1px rgba(191, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px 1px rgba(191, 0, 0, 1);
    box-shadow: 0 0 5px 1px rgba(191, 0, 0, 1);
}

div.art_calc h1, div#error h3 {
	color: #bf0000;
	font-family: 'Cuprum', Verdana, sans-serif;
	font-size: 30px;
}

div.art_calc legend {
	font-size: 16px;
	font-weight: bold;
}

div.art_calc select, div.art_calc input, div.art_calc label {
	font-family: 'Cuprum', Verdana, sans-serif;
	font-size: 20px;
}

div.art_calc button {
	font-family: 'Play', Verdana, sans-serif;
	height: 50px;
	width: 250px;
}

div#error {
	border: 1px solid red;
	bacground-color: #ffd9d9;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

div#error p {
	text-align: center;
}
/*jquery-validation*/
.error {
	color: #bf0000;
	font-size: 13px;
	font-family: 'Cuprum', Verdana, sans-serif;
	list-style-type: none;
}

/*jquery-tooltip*/
.formInfo a, .formInfo a:active, formInfo a:visited{
	background-color:#bf0000;
	font-family: 'Cuprum', Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding:0px 4px;
	margin-left:3px;
	color:#FFFFFF;
	text-decoration: none;
}

.formInfo a:hover{
	color:#660000;
	text-decoration: none;
}

/* ----- add selectors here for font sizing ----- */
#JT_close_left, #JT_close_right{
	font-family: 'Play', Verdana, sans-serif;
	font-size: 1em;
}
#JT_copy p, #JT_copy ul{
	font-family: 'Cuprum', Verdana, sans-serif;
	font-size: 0.9em;
}

#JT_arrow_left{
	background-image: url(scripts/jquery-tooltip/images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(scripts/jquery-tooltip/images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(scripts/jquery-tooltip/images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
	cursor:help;
}
